body {
font-family: Orbitron, sans-serif;
background: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
background-position: center;
background-size: cover;
background-repeat: repeat;
font-style: smallcaps;
color: white;
animation: fadeIn 1s ease-in-out;
overflow: hidden;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.title {
font-size: 48px;
text-align: center;
transition: 0.3s;
font-family: Orbitron, sans-serif;
}
.title:hover {
transform: scale(1.1);
color: wheat;
}
h1 {
font-size: 48px
}
button {
position: center;
background-color: dodgerblue;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add shadow */
transition: 0.3s ease-in;
overflow: hidden;
outline: none;
}

button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border: none;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease, height 0.4s ease;
}

button:hover::before {
  width: 120%;
  height: 120%;
  border: 2px solid wheat
}

button:hover {
background-color: deepskyblue;
color: wheat;
transform: scale(1.1);
}
input {
padding: 13px;
border: 2px solid dodgerblue;
border-radius: 5px;
font-size: 16px;
transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
input:focus {
border-color: deepskyblue;
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
outline: none;
padding: 15px;
font-size: 18px;
}
input::placeholder {
color: #888;
font-style: italic;
}
.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.listtitle {
font-size: 20px;
}
.links li{
font-size:18px;
justify-content: center;
text-align: center;
transition: 0.3s ease-in;
position: relative;
text-decoration: none;
}
.links li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: wheat;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .25s linear;
}
.links li:hover {
color: wheat;
transform: rotate(1deg);
}
.links li:hover::after {
    transform: scaleX(1);
}
ul {
list-style: none;
}
.explanation {
display: flex;
flex-direction: column;
text-align: center;
font-family: Orbitron, sans-serif;
}
.footer {
text-decoration: none;
color: dodgerblue;
display: flex;
flex-direction: column;
text-align: center;
}
.footer:hover{
    color: deepskyblue;
}
.footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: deepskyblue;
    transition: all .25s ease;
    transform: translateX(-50%);
}
.footer:hover::after {
    width: 100%;
}
.footer {
align-items: center;
}
.btns button{
font-size:18px;
justify-content: center;
text-align: center;
transition: 0.3s ease-in;
position: relative;
text-decoration: none;
padding: 15px;
border-radius: 8px;
background-color: dodgerblue;
margin: 4px, 2px;
}
.btns button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: wheat;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .25s linear;
}
.btns button:hover {
color: wheat;
transform: scale(1.1);
}
.btns button:hover::after {
    transform: scaleX(1);
}
.iframeContainer {
    width: 100%;
    height: 100vh;
}
